1. Подготовка данных (анализ, визуализация, обработка выбросов, пропусков, генерация фичей)
обучение модели

In [30]:
import pandas as pd
df = pd.read_csv('train.csv', sep=',')
df.shape

(10000, 20)

In [31]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [32]:
df['Id'] = df['Id'].astype(str)
dm_num_fatures = df.select_dtypes(include=['float64'])
dm_num_fatures.head()

,Rooms,Square,LifeSquare,KitchenSquare,HouseFloor,Ecology_1,Healthcare_1,Price
0,3.0,115.027311,NaN,10.0,10.0,0.075424,NaN,305018.871089
1,1.0,39.832524,23.169223,8.0,8.0,0.118537,1183.0,177734.553407
2,3.0,78.342215,47.671972,10.0,17.0,0.025609,240.0,282078.720850
3,1.0,40.409907,NaN,1.0,22.0,0.007122,NaN,168106.007630
4,2.0,64.285067,38.562517,9.0,16.0,0.282798,NaN,343995.102962

In [33]:
df.describe()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  object
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(8), object(4)
memory usage: 1.5+ MB

Применим статистику к данным

In [35]:
import numpy as np

In [36]:
np.quantile(df['Rooms'], q=0.5)

2.0

In [37]:
df['Rooms'].describe()

count    10000.000000
mean         1.890500
std          0.839512
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         19.000000
Name: Rooms, dtype: float64

In [38]:
df['Rooms'].value_counts()

2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64

In [39]:
df['Rooms'].mode()

0    2.0
Name: Rooms, dtype: float64

Обзор номинативных обьектов

In [40]:
df_object_features = df.select_dtypes(include='object')
df_object_features.head()

      Id Ecology_2 Ecology_3 Shops_2
0  11809         B         B       B
1   3013         B         B       B
2   8215         B         B       B
3   2352         B         B       B
4  13866         B         B       B

In [41]:
df['Ecology_2'].value_counts()

B    9903
A      97
Name: Ecology_2, dtype: int64

In [42]:
df['Ecology_3'].value_counts()

B    9725
A     275
Name: Ecology_3, dtype: int64

In [43]:
df['Shops_2'].value_counts()

B    9175
A     825
Name: Shops_2, dtype: int64

Обработка пропусков

In [44]:
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [45]:
df['LifeSq_Nan']=0
df.loc[df['LifeSquare'].isna(), 'LifeSq_Nan']=1
df[df['LifeSq_Nan']==1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,LifeSq_Nan
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,...,B,11,3097,0,NaN,0,0,B,305018.871089,1
3,2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,168106.007630,1
18,4581,1,1.0,47.582480,NaN,1.0,16,16.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,128803.593810,1
20,8768,63,1.0,50.974891,NaN,1.0,7,16.0,2018,0.238617,...,B,26,3889,6,705.0,3,6,B,260328.413376,1
24,4717,27,1.0,44.203947,NaN,0.0,2,0.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,135466.559958,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,4944,6,2.0,52.573133,NaN,1.0,18,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,154366.031184,1
9978,4851,1,1.0,39.314342,NaN,1.0,13,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,137782.941940,1
9981,6753,62,2.0,73.092686,NaN,1.0,4,16.0,2017,0.072158,...,B,2,629,1,NaN,0,0,A,159077.198056,1
9983,647,1,2.0,63.324025,NaN,1.0,4,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,183809.327114,1
9991,11173,6,2.0,62.648779,NaN,0.0,6,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,182625.548872,1

Заполнение пропусков медианой

In [46]:
median = df['LifeSquare'].median()
df['LifeSquare'] = df['LifeSquare'].fillna(median)
df['LifeSquare'].isna().sum()

0

In [47]:
df[df['LifeSq_Nan']==1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,LifeSq_Nan
0,11809,27,3.0,115.027311,32.78126,10.0,4,10.0,2014,0.075424,...,B,11,3097,0,NaN,0,0,B,305018.871089,1
3,2352,1,1.0,40.409907,32.78126,1.0,10,22.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,168106.007630,1
18,4581,1,1.0,47.582480,32.78126,1.0,16,16.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,128803.593810,1
20,8768,63,1.0,50.974891,32.78126,1.0,7,16.0,2018,0.238617,...,B,26,3889,6,705.0,3,6,B,260328.413376,1
24,4717,27,1.0,44.203947,32.78126,0.0,2,0.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,135466.559958,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,4944,6,2.0,52.573133,32.78126,1.0,18,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,154366.031184,1
9978,4851,1,1.0,39.314342,32.78126,1.0,13,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,137782.941940,1
9981,6753,62,2.0,73.092686,32.78126,1.0,4,16.0,2017,0.072158,...,B,2,629,1,NaN,0,0,A,159077.198056,1
9983,647,1,2.0,63.324025,32.78126,1.0,4,17.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,183809.327114,1
9991,11173,6,2.0,62.648779,32.78126,0.0,6,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,182625.548872,1

In [48]:
df['Healthcare_1_Nan']=0
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1_Nan'] = 1
df[df['Healthcare_1_Nan']==1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,LifeSq_Nan,Healthcare_1_Nan
0,11809,27,3.0,115.027311,32.781260,10.0,4,10.0,2014,0.075424,...,11,3097,0,NaN,0,0,B,305018.871089,1,1
3,2352,1,1.0,40.409907,32.781260,1.0,10,22.0,1977,0.007122,...,1,264,0,NaN,0,1,B,168106.007630,1,1
4,13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,...,33,8667,2,NaN,0,6,B,343995.102962,0,1
8,9951,1,1.0,46.887892,44.628132,1.0,12,20.0,1977,0.007122,...,1,264,0,NaN,0,1,B,160400.401732,0,1
11,16755,88,2.0,53.975144,34.153584,8.0,2,12.0,1978,0.127376,...,43,8429,3,NaN,3,9,B,253124.005332,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,9289,1,3.0,84.486078,88.931509,0.0,4,22.0,2016,0.007122,...,1,264,0,NaN,0,1,B,264213.558631,0,1
9995,1260,61,2.0,49.090728,33.272626,6.0,3,12.0,1981,0.300323,...,52,10311,6,NaN,1,9,B,119367.455796,0,1
9996,16265,27,2.0,64.307684,37.038420,9.0,13,0.0,1977,0.072158,...,2,629,1,NaN,0,0,A,199715.148807,0,1
9997,2795,178,1.0,29.648057,16.555363,5.0,3,5.0,1958,0.460556,...,20,4386,14,NaN,1,5,B,165953.912580,0,1
9999,7202,94,1.0,35.815476,22.301367,6.0,9,9.0,1975,0.127376,...,43,8429,3,NaN,3,9,B,177685.627486,0,1

In [49]:
mediana = df['Healthcare_1'].median()
df['Healthcare_1'].fillna( mediana, inplace=True )
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare          0
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1        0
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
LifeSq_Nan          0
Healthcare_1_Nan    0
dtype: int64

Обработка выбрасов

In [69]:
df.describe()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,Price,LifeSq_Nan,Healthcare_1_Nan,Rooms_outlier,Square_outlier,LifeSquare_outlier,KitchenSquare_outlier,HouseFloor_outlier
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.0,10000.0,10000.0
mean,50.400800,1.892100,55.108599,36.266040,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,...,1.319500,4.231300,214138.857399,0.211300,0.479800,0.0,0.050000,0.0,0.0,0.0
std,43.587592,0.837811,15.215053,76.609981,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,...,1.493601,4.806341,92872.293865,0.408251,0.499617,0.0,0.217956,0.0,0.0,0.0
min,0.000000,1.000000,32.105270,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,...,0.000000,0.000000,59174.778028,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
25%,20.000000,1.000000,42.432730,25.527399,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,...,0.000000,1.000000,153872.633942,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
50%,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,...,1.000000,3.000000,192269.644879,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
75%,75.000000,2.000000,64.591720,41.427234,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,...,2.000000,6.000000,249135.462171,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0
max,209.000000,19.000000,100.904263,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,...,6.000000,23.000000,633233.466570,1.000000,1.000000,0.0,1.000000,0.0,0.0,0.0

In [59]:
df['Rooms_outlier']=0
df['Square_outlier']=0
df['LifeSquare_outlier']=0
df['KitchenSquare_outlier']=0
df['HouseFloor_outlier']=0
df.loc[df['Rooms']==0, 'Rooms_outlier']=1
df.loc[df['Rooms']==0, 'Rooms'] = df['Rooms'].median()

In [62]:
Square_min_val=np.quantile(df['Square'], 0.025)
Square_max_val=np.quantile(df['Square'], 0.975)

100.90624548226137

In [68]:
df.loc[((df['Square']<Square_min_val) | (df['Square']>Square_max_val)), 'Square_outlier']=1
df.loc[((df['Square']<Square_min_val) | (df['Square']>Square_max_val)), 'Square'] = df['Square'].median()

In [70]:
df[df['Square_outlier']==1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Shops_1,Shops_2,Price,LifeSq_Nan,Healthcare_1_Nan,Rooms_outlier,Square_outlier,LifeSquare_outlier,KitchenSquare_outlier,HouseFloor_outlier
0,11809,27,3.0,52.51331,32.781260,10.0,4,10.0,2014,0.075424,...,0,B,305018.871089,1,1,0,1,0,0,0
32,3876,100,4.0,52.51331,79.316650,8.0,4,8.0,1960,0.200147,...,0,B,600903.828562,0,0,0,1,0,0,0
63,11630,58,1.0,52.51331,15.168644,6.0,3,12.0,1973,0.310199,...,0,B,117941.286753,0,1,0,1,0,0,0
92,2357,32,1.0,52.51331,15.222565,5.0,5,5.0,1972,0.135650,...,11,B,170343.755036,0,0,0,1,0,0,0
108,8871,91,1.0,52.51331,20.108517,5.0,1,5.0,1965,0.000995,...,5,B,140029.719549,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9915,8998,20,1.0,52.51331,12.125029,7.0,9,9.0,1976,0.019509,...,5,B,186537.391208,0,0,0,1,0,0,0
9937,6149,53,4.0,52.51331,94.268671,20.0,12,24.0,2018,0.049637,...,3,B,492943.252891,0,0,0,1,0,0,0
9971,7800,46,3.0,52.51331,63.452792,12.0,13,22.0,2014,0.188784,...,1,B,500562.663412,0,1,0,1,0,0,0
9990,10635,21,1.0,52.51331,11.419796,2.0,1,5.0,1967,0.194489,...,5,B,112411.221700,0,0,0,1,0,0,0
9997,2795,178,1.0,52.51331,16.555363,5.0,3,5.0,1958,0.460556,...,5,B,165953.912580,0,1,0,1,0,0,0